#topic {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: static;
  font-family: Fantasy;
  text-decoration: underline;
}
#date {
  text-align: center;
  font-family: Fantasy;
  font-weight: bold;
  position: static;
}
p {
  font-family: Fantasy;
  font-weight: normal;
  position: static;
}